.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Stellt sicher, dass der Container die volle Breite einnimmt */
  min-width: 50vw;
}

.slider-title {
  font-size: 1.2em;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  width: 100%; /* Stellt sicher, dass der Wrapper die volle Breite einnimmt */
}

.slider {
  width: 100%; /* Stellt sicher, dass der Slider die volle Breite des Wrappers einnimmt */
  border-radius: 5px;
  -webkit-transition: .2s;
  transition: opacity .2s;
  min-width: 50vw;
}

.slider-value-display {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.9em;
}

@media (max-width: 800px) {
  /* Stile für kleinere Bildschirme */
  .slider-container {
    min-width: 80vw;
  }
  .slider {
    min-width: 80vw;
  }
}

@media (min-width: 2000px) {
  .slider-container {
    min-width: 30vw;
  }
  .slider {
    min-width: 30vw;
  }
}
